body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.error {
  background-image: url(https://images.unsplash.com/photo-1579373903781-fd5c0c30c4cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8NDA0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}

.award {
  @apply my-auto mx-1 cursor-pointer;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  @apply bg-neutral;
}

body::-webkit-scrollbar-thumb {
  @apply bg-neutral-focus rounded-md;
}
img {
  @apply sm:max-w-sm w-auto;
}
